body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #263651;
}
h1, h2{
	font-family: 'Josefin Sans', sans-serif;
}

.toolbar{
	background-color: rgba(255,250,250,0.8);
	padding: .5em 5em;
	margin: 0 0;
	position: fixed;
	width: 100%;
}

.toolbar .navigation{
	height: 5em;
	color: #136269;
}

.navigation .links{
	list-style: none;
	float: right;
	padding-top: 2em;
}

.navigation .links li{
	display: inline-block;
	padding-left: 4em;
}

.navigation .logo {
	float:left;
	border-style: solid;
	border-radius: 100%;
	width: 5em;
	height: 5em;
	padding: .25em .5em;
	background-color:white;
}
.intro{
	background-color: #263651;
	height: 40em;
	margin: 0 0;
	padding-right: 5em;
	padding-left: 5em;
	padding-top: 13em;
	padding-bottom: 10em;
	color: white;
}

.info{
	background-color: #bad4d0;
	padding: 2em 10em;
	height: 35em;
}

.info .self{
	float: left;
}

.info .text{
	float: right;
}

.portfolio{
	background-color: #136269;
	padding: 2em 0;
	color: white;
}