body{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #263651;
}
h1, h2{
	font-family: 'Josefin Sans', sans-serif;
}

.toolbar{
	background-color: rgba(255,255,255,0.8);
	padding: .5em 5em;
	position: fixed;
	width: 100%;
}

.portfolio a:hover, .links a:hover{
	color: #d83f3f;
	text-decoration: none;
}

.toolbar .navigation{
	height: 5em;
	color: #263651;
}

.navigation .links{
	list-style: none;
	float: right;
	padding-top: 2em;
}

.navigation .links li{
	display: inline-block;
	padding-left: 4em;
}

.navigation .logo {
	float:left;
	border-style: solid;
	border-radius: 100%;
	width: 5em;
	height: 5em;
	padding: .25em .5em;
	background-color:white;
}
.intro{
	background-color: #263651;
	height: 35em;
	padding-right: 5em;
	padding-left: 5em;
	padding-top: 10em;
	padding-bottom: 10em;
	color: white;
	margin:0 0;
}

.intro-images{
	display: inline-block;
	padding: 2em 0;
}

.pencil, .stretchRight, .laptop{
	padding: 0 5em;
}

.intro h1{
	font-size: 4em;
}

.intro h3{
	color: #bad4d0;
	font-size: 1.35em;
}

.info{
	background-color: #bad4d0;
	padding: 2em 10em;
	height: 35em;
}

.container{
	max-width: 600px;
}

.info .self{
	float: left;
	padding-top: 1em;
}

.info .text{
	width: 25em;
	float: right;
	text-align: left;
	padding-top: 4em;
	padding-left: 1em;
}

.text h2{
	color: #136269;
}

.portfolio{
	background-color: #136269;
	padding: 2em 2em;
	font-size: 1.25em;
}

.portfolio h2{
	color:white;
}

.portfolio a{
	color:#bad4d0; 
}

.work h2{
	font-size: 2.5em;
}

.contact{
	color: white;
	padding: 5em 0;
	font-size: 1em;
}

.row{
	padding-top: 2em;
	padding-right: 15em;
	padding-left: 15em;
}

.row p{
	padding-top:.75em;
	padding-bottom:2em;
}

.row .picture{
	border:1px solid #;
	border-radius: 1em;
}

.contact a{
	text-decoration: none;
	color:#d83f3f; 
	font-size: 1.25em;
}

.contact a:hover{
	text-decoration: none;
	color:#136269;
	font-size: 1.25em;
}

@media only screen and (max-width: 950px){
	.pencil, .laptop {
		height: 7em;
	}
	.stretchRight{
		height: 2em;
		padding: 0 0;
	}

}